@model IEnumerable<MVC_Arquitetura.Domain.Livro>

@{
    ViewBag.Title = "Criando Autor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/icon_font/css/icon_font.css" rel="stylesheet" />
<link href="~/Content/jquery.transfer.css" rel="stylesheet" />
<link href="~/Content/util.css" rel="stylesheet" />

<form style="margin-top:5%">
    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" class="form-control" id="txtNome" aria-describedby="nomeHelp" placeholder="Nome">
    </div>
    <br />
    <div class="transfer"></div>
    <br />
    <button type="submit" class="btn btn-primary" style="width:7%">Criar</button>
</form>


@section scripts {
    <script src="~/Scripts/jquery.transfer.js"></script>
    <script type="text/javascript">
        var itens = @Html.Raw(Json.Encode(Model));
        var settings = {
            "inputId": "languageInput",
            "data": itens,
            "itemName": "Nome",
            "container": "transfer",
            "valueName": "Id",
            "callable": function (data, names) {
                console.log("Selected ID：" + data)
            }
        };
        Transfer.transfer(settings);
    </script>
}




